/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

#welcome-heading {
    font-size: 2rem;
}

.section-title {
    margin-top: 50px;
    font-size: 2rem;
}

.highlight {
    margin-top: 200px;
}

.page-links {
    font-size: 0.75rem;
}

.card h1 {
    font-size: 1.5em;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    #welcome-heading {
        font-size: 3.5rem;
    }

    .section-title {
        font-size: 3.5rem;
    }

    .page-links {
        font-size: 1rem;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    #welcome-heading {
        font-size: 5rem;
    }

    #masthead {
        clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    #masthead {
        background-image: url("../images/SplashScreen.jpg");
        background-position: top left;
        clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}